# Maintained by Ansible
{% for key, value in schema_registry.items() %}
{{key}}={{value}}
{% endfor %}
host.name={{inventory_hostname}}
kafkastore.bootstrap.servers={% for host in groups["kafka_broker"] %}{% if loop.index > 1 %},{% endif %}{{host}}:{{kafka.kafka_broker_port}}{%endfor%}